body {
    padding-top: 90px;
    color: #000000;
}

.main h1 {
    font-size: 54px;
    margin-bottom: 9px;
    font-size: 81px;
    font-weight: bold;
    line-height: 1;
}

.main p {
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 20px;
}

footer {
    font-size: 90%;
    padding-top: 90px;
    opacity: .5;
}
